meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Landing Page
link(rel="stylesheet", href="/css/index.css")

section.hero
  .overlay
  .content
    h1 Welcome to Our Site
    p Shopping made easier
    a.btn(href="/login") Login

script(src="/js/index.js")
